*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #51B6B6;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
}


.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-list a{
    font-size: 20px;
}

.nav-item{
    margin: 0 15px;
    
}

.nav-link{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

/*FIM DO MENU*/

/*INICIO SESSAO 1 - O INSTITUTO*/
    .sessao1{
        background-image: url('./img/idoso.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 0px 0px 15px 15px;
    }

    .sessao1 img{
        animation: fromleft .6s backwards;
    }

    .sessao1 h1{
        margin-top: 40px;
        color: white;
        animation: fromleft .8s backwards;
    }

    .sessao1 p{
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
        font-size: 20px;
        animation: fromleft 1s backwards;
    }

    .sessao1 a{
        display: flex;
        justify-content: center;    
        width: 50%;
        margin: auto;
        background-image: linear-gradient(45deg, #51b6b6, #99d9d9);
        color: white;
        border-radius: 5px;
        text-decoration: none;
        padding: 10px 0;
        font-size: 20px;
        animation: fromleft 1.2s backwards;
    }
    /* FIM SESSAO 1*/

    /*INICIO SOBRE NOS */

    .sobre-nos-container{
        text-align: center;
        background-color: #fff;
        
    }

    .sobre-nos h1{
        font-size: 25px;
        color: #51B6B6;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 600;
        
    }

    .sobre-nos p{
        font-size: 20px;
        width: 70%;
        margin: auto;
        color: #51B6B6;
        font-weight: 600;
        padding-bottom: 30px;
        
    }


    

    /*FIM SOBRE NOS */

    /*INICIO SESSAO2 - SERVIÇOS */

    .sessao2{
        display: flex;
        background-image: url('./img/b2alt.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-wrap: wrap;
        border-radius: 10px;
        padding-bottom: 25px;
    }

    .sessao2-texto{
        width: 100%;
    }

    .sessao2-container{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 25px;
        padding-bottom: 50px;
        text-align: center;
    }

    .sessao2-texto{
        color: white;
        text-align: center;
    }

    .sessao2-texto h2{
        margin: 50px 20px;
        font-size: 25px;
    }

    .sessao2-texto h4{
        margin: 12px 20px;
        font-size: 20px;
    }

    

    .sessao2-servicos{
        max-width: 350px;
        color: #51B6B6;
        background-color: #fff;
        border: 1px solid #51B6B6;
        border-radius: 5px;
        width: 30%;
        margin-top: 20px;
        
    
        
    }

    .sessao2-servicos p{
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
        font-size: 20px;
    }

    .sessao2-servicos h4{
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 25px;
    }

    .sessao2-servicos img{
        margin-top: 10px;
    }

    .sessao2 a{
        display: flex;
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 5px;
        text-decoration: none;
        color: #51B6B6;
        font-size: 15px;
        font-weight: 600;
        justify-content: center;
        width: 50%;
        margin: auto;
        padding: 15px 0;
        animation-name: botao;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        box-shadow: #51B6B6 0px 0px 3px 1px inset, #51B6B6 0px 0px 12px 1px;
    }

    @keyframes botao{
        0%{
            transform: scale(1);
        }

        100%{
            transform: scale(1.05);
        }
    }

    @keyframes fromleft{
        from {
            opacity: 0;
            transform: translatex(100px);
        }
    
        to{
            opacity: 1;
            transform: translatex(0);
        }
    }

    
/*FIM DA SESSAO 1 */

@media screen and (max-width: 960px) {
    .sessao1{
        background-position: center;
      }
    
}

@media screen and (max-width: 758px) {


    /*Menu responsivo*/

    .nav-bar{
        padding: 1.5rem 4rem;
    }

    .nav-item{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .open{
        display: block;
    }

    .mobile-menu-icon button{
    background-color: transparent;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    
}
  /*Fim menu responsivo*/

  .sessao1{
    background-position: center;
  }

  .sessao2-container{
   flex-wrap: wrap;
   gap: 5px;
   padding-bottom: 25px;
}

.sessao2-servicos{
   max-width: none;
   width: 95%;
   margin-bottom: 5px;
   gap: 5px;
}

.sessao2 a{
    width: 95%;
}

.sobre-nos p{
    width: 85%;
    
}



}
  